
.error, .success {
  background-color: lightblue;
  font-size: 40px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {color: red}
.success {color: green}


.table{
  display:table;
  width:auto;
}

.table-row{
  display:table-row;
  width:auto;
  clear:both;
}

.table-col{
  float:left;
  display:table-column;
  width:10em;
  
  
  
}

